<h1>Hola mundo</h1>
<app-crono></app-crono>
<app-heroe></app-heroe>
<app-listado></app-listado>
<app-main-page></app-main-page>
<app-princom></app-princom>


<!-- <div class="container">
    <div class="row">
        <div class="col-md-3" *ngFor="let elemento of dataHeroes"  >
            <app-superheroes [heroe] = "elemento"></app-superheroes>
        </div>
    
    </div>

</div> -->

<div *ngFor="let elemento of datosHeroes">
    <app-super [elem]="elemento"></app-super>
</div>

<p>Practicando viewChild</p>
<input #referencia type="text" value="Hola">
<button (click)="imprimirValor()" >
    oprimir
</button>
<input #referencia2 type="text" value="Hola2">
<app-prueba-view-child></app-prueba-view-child>